patientview-parent/patientview/src/main/resources/importer/pv_schema_2.0.xsd

<?xml version="1.0"?>

<!--
  ~ PatientView
  ~
  ~ Copyright (c) Worth Solutions Limited 2004-2013
  ~
  ~ This file is part of PatientView.
  ~
  ~ PatientView is free software: you can redistribute it and/or modify it under the terms of the
  ~ GNU General Public License as published by the Free Software Foundation, either version 3 of the License,
  ~ or (at your option) any later version.
  ~ PatientView is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  ~ the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~ You should have received a copy of the GNU General Public License along with PatientView in a file
  ~ titled COPYING. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ @package PatientView
  ~ @link http://www.patientview.org
  ~ @author PatientView <info@patientview.org>
  ~ @copyright Copyright (c) 2004-2013, Worth Solutions Limited
  ~ @license http://www.gnu.org/licenses/gpl-3.0.html The GNU General Public License V3.0
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="patientview">
        <xs:annotation>
            <xs:documentation>IBD PatientView Version 0.1</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="sequence">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="000000"/>
                            <xs:maxInclusive value="999999"/>
                            <xs:totalDigits value="6"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="dateofreport" type="xs:dateTime"/>
                <xs:element maxOccurs="1" minOccurs="1" name="flag" type="pv_status"/>
                <xs:element maxOccurs="1" minOccurs="1" name="centredetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="centrecode" type="xs:string"/>
                            <xs:element maxOccurs="1" minOccurs="1" name="centrename">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centreaddress1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centreaddress2">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centreaddress3">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centreaddress4">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centrepostcode">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centretelephone">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="centreemail">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="gpdetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="gpname">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="gpaddress1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="gpaddress2">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="gpaddress3">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="gppostcode">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="gptelephone">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="gpemail">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="patient">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="personaldetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="surname">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="forename">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="dateofbirth" type="xs:date"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="sex" type="sex"/>
                                        <xs:element maxOccurs="1" minOccurs="1" name="nhsno">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:whiteSpace value="collapse"/>
                                                    <xs:length value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="ethnicorigin" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="hospitalnumber">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="address1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="address2">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="address3">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="address4">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="postcode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="telephone1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="telephone2">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="mobile">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="clinicaldetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="0" name="rrtstatus" type="rrtstatus"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="tpstatus">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="15"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="0" name="diagnosisedta">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="5"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="diagnosis" type="pv_diagnosis"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="ibddiseaseextent" type="ibd_disease_extent" />
                                        <xs:element maxOccurs="0" minOccurs="0" name="ibddiseasecomplications" type="ibd_disease_complications" />
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bodypartsaffected" type="body_parts_affected"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="familyhistory" type="family_history"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="smokinghistory" type="smoking_history"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="surgicalhistory" type="surgical_history"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="vaccinationrecord" type="vaccination_record"/>
                                        <xs:element minOccurs="0" name="bloodgroup">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="testdetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="test">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="testname">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="testcode" type="testcode"/>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="units">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="daterange">
                                                        <xs:complexType>
                                                            <xs:attribute name="start" type="xs:date" use="required"/>
                                                            <xs:attribute name="stop" type="xs:date" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="result">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="datestamp" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="prepost" type="prepost"/>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="value">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="drugdetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="drug">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="drugstartdate" type="xs:date"/>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="drugname">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="drugdose" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="letterdetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="letter">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="letterdate" type="xs:date"/>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="lettertype">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="1" name="lettercontent" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                Letter content should be sent as a CDATA section to avoid parsing errors. E.g.<![CDATA[ and end with the string ]]>															</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="pv_diagnosis">
        <xs:simpleContent>
            <xs:extension base="pv_diagnosis_name">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="pv_diagnosis_name">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>




    <xs:simpleType name="ibd_disease_extent">
        <xs:annotation>
            <xs:documentation>IBD Disease Extent</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Proctitis"/>
            <xs:enumeration value="Left Sided Colitis"/>
            <xs:enumeration value="Extensive Colitis"/>
            <xs:enumeration value="Ileal Crohns"/>
            <xs:enumeration value="Ileo-Colonic Disease"/>
            <xs:enumeration value="CrohnÕs Colitis"/>
            <xs:enumeration value="Isolated Upper GI Disease"/>
        </xs:restriction>
    </xs:simpleType>






    <xs:complexType name="ibd_disease_complications">
        <xs:simpleContent>
            <xs:extension base="ibd_disease_complication">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ibd_disease_complication">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>





    <xs:complexType name="body_parts_affected">
        <xs:simpleContent>
            <xs:extension base="body_part">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="body_part">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="family_history">
        <xs:simpleContent>
            <xs:extension base="family_history_description">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="family_history_description">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="smoking_history">
        <xs:simpleContent>
            <xs:extension base="smoking_history_description">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="smoking_history_description">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="surgical_history">
        <xs:simpleContent>
            <xs:extension base="surgical_history_description">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="surgical_history_description">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="vaccination_record">
        <xs:simpleContent>
            <xs:extension base="vaccination_record_description">
                <xs:attribute default="false" name="primary" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="vaccination_record_description">
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="pv_status">
        <xs:annotation>
            <xs:documentation>Patient View Status</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Include"/>
            <xs:enumeration value="Remove"/>
            <xs:enumeration value="Lost"/>
            <xs:enumeration value="Died"/>
            <xs:enumeration value="Suspend"/>
            <xs:enumeration value="Followup"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sex">
        <xs:annotation>
            <xs:documentation>Sex</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="testcode">
        <xs:annotation>
            <xs:documentation>Test codes. Ciclosporin, tacrolimus and sirolimus are drug levels. PCR is protein-creatinine ratio. ACR is albumin creatinine ratio.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="hb"/>
            <xs:enumeration value="wbc"/>
            <xs:enumeration value="platelets"/>
            <xs:enumeration value="urea"/>
            <xs:enumeration value="creatinine"/>
            <xs:enumeration value="potassium"/>
            <xs:enumeration value="calcium"/>
            <xs:enumeration value="adjustedcalcium"/>
            <xs:enumeration value="phosphate"/>
            <xs:enumeration value="albumin"/>
            <xs:enumeration value="crp"/>
            <xs:enumeration value="pth"/>
            <xs:enumeration value="cholesterol"/>
            <xs:enumeration value="tg"/>
            <xs:enumeration value="glucose"/>
            <xs:enumeration value="hba1c"/>
            <xs:enumeration value="egfr"/>
            <xs:enumeration value="hco3"/>
            <xs:enumeration value="inr"/>
            <xs:enumeration value="sodium"/>
            <xs:enumeration value="pcr"/>
            <xs:enumeration value="acr"/>
            <xs:enumeration value="urr"/>
            <xs:enumeration value="ktv"/>
            <xs:enumeration value="ciclosporin"/>
            <xs:enumeration value="tacrolimus"/>
            <xs:enumeration value="sirolimus"/>
            <xs:enumeration value="bpsys"/>
            <xs:enumeration value="bpdia"/>
            <xs:enumeration value="height"/>
            <xs:enumeration value="weight"/>
            <xs:enumeration value="bili"/>
            <xs:enumeration value="ast"/>
            <xs:enumeration value="alt"/>
            <xs:enumeration value="alp"/>
            <xs:enumeration value="ggt"/>
            <xs:enumeration value="ferritin"/>
            <xs:enumeration value="iron"/>
            <xs:enumeration value="transferrin"/>
            <xs:enumeration value="ironsat"/>
            <xs:enumeration value="urate"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="prepost">
        <xs:annotation>
            <xs:documentation>Pre or Post Dialysis Result</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRE"/>
            <xs:enumeration value="POST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rrtstatus">
        <xs:annotation>
            <xs:documentation>RRT Treatment Modality</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HD"/>
            <xs:enumeration value="PD"/>
            <xs:enumeration value="TP"/>
            <xs:enumeration value="PRE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
